body {
	/*background: linear-gradient(to bottom, #fceabb, #f8b500);*/
	/*background-image: url("../images/pexels-photo-302905.jpg");*/
	/*background-image: url("../images/28.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: Arial, Helmet, Freesans, sans-serif;*/
	font-family: "Century Gothic",  sans-serif;
	margin: 0 auto;
	padding: 0;
	border: 0;
}

/*html {
	overflow-y:scroll;
}*/

.dropdown {
	background-color: rgba(0,0,0,0.1);
}

.dropdown:hover {
	border-bottom: 5px solid white;
}

.dropdown-content {
	background-color: rgba(0,0,0,0.4);
}

#signInList {
	background-color: rgba(0,0,0,0.4);
}

::-webkit-scrollbar { 
display: none; 
}

#top-bar {																								/*Top Bar*/
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(120,120,120,0.8);
	/*background-color: rgb(102, 53, 25);*/
	/*background-color: rgba(255, 255, 255, 0.7);*/ /*linear-gradient(to bottom, #34e89e, #0f3443);*/
	margin: 0;
	/*-webkit-box-shadow: 0 8px 20px -6px black;*/
}

/*#signinDiv {
	float: left;
	text-align: center;
	padding: 0 15px 0 15px;
	width: 50px;
	height: 30px;
}*/

#signinDiv:hover {
	border-bottom: 5px solid white;
	transition: .4s ease;
}

.fixed-width {
	width: 1200px;
	margin: 0 auto;
}

#psps-logo {
	/*float: left;*/
	height: 30px;
}

#psps-logo img {
	margin: 0px 0px 0 40px;
	max-width: 35px;
	max-height: 35px;
	width: auto;
	height: auto;
}

#company-name {
	padding-right: 10px;
	/*float: left;*/
	/*border-right: 1px solid rgba(220, 220, 220, 0.5)*//*rgba(255, 255, 255, 0.7)*//*#990000*/;
	height: 50px;
}

#company-name img {
	margin: 0 0px 0px 0px;
	max-width: 200px;
	max-height: 50px;
	width: auto;
	height: auto;
	padding-left: 0;
}

/*#sign-in {
 	float:left;
 	color:#FFF;
	/*height:45px;
 	width:/*100pxauto;
	/*padding-top:4px;
	background-color: rgba(0,0,0,0.1);
	/*padding-top: 16px;
	/*background-color: rgba(255,255,255,0.7);
 }*/
 
 #sign-in:hover {
	/*height: 41px;*/
	border-bottom: 5px solid white;
 }
 
 #sign-out:hover {
	/*height: 41px;*/
	border-bottom: 5px solid white;
 }
 
 #sign-out {
 	float:left;
 	color:#FFF;
	/*height:45px;*/
 	width:/*100px*/auto;
	/*padding-top:4px;*/
	background-color: rgba(0,0,0,0.1);
	/*padding-top: 16px;*/
	/*background-color: rgba(255,255,255,0.7);*/
 }
 
 /*#sign-in p {
	margin: 13px 5px 0 25px;
	color: white;
 }*/
 
 /*#register {
 	float:left;
 	color:#FFF;
	height:45px;
 	width:100px;
	padding-top:21px;
	background-color: rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.4);
 }*/
 
 /*#register:hover {
	height: 41px;
	border-bottom: 5px solid white;
 }*/
 
 /*#register p {
	margin: 13px 0 0 20px;
	color: white;
 }*/
 
 #top-menu ul {
	float: left;
	padding: 0;
	margin: 0;
	height: 45px;
 }
 
 #logodiv {
	margin-left: 60px;
 }
 
.topnav li #home {
	float: left;
	color: white;
	border-left: 1px solid rgba(220, 220, 220, 0.0)/*#990000*/;
	height: 25px;
	list-style: none;
	padding: 20px 20px 0 20px;
	transition: .4s ease;
}

.topnav li #home:hover {
	border-bottom: 5px solid #a441d0/*white*/ /*#9b2313*/;
	color: #a441d0;
}

.topnav li #news {
	float: left;
	color: white;
	border-left: 1px solid rgba(220, 220, 220, 0.0)/*#990000*/;
	height: 25px;
	list-style: none;
	padding: 20px 20px 0 20px;
	transition: .4s ease;
}

.topnav li #news:hover {
	border-bottom: 5px solid #e34e61/*#ffe711*/ !important;
	color: #e34e61;
}

.topnav li #services {
	float: left;
	color: white;
	border-left: 1px solid rgba(220, 220, 220, 0.0)/*#990000*/;
	height: 25px;
	list-style: none;
	padding: 20px 20px 0 20px;
	transition: .4s ease;
}

.topnav li #services:hover {
	border-bottom: 5px solid #4fe2cf/*#77cdff*/;
	color: #4fe2cf;
}

.topnav li #professionals {
	float: left;
	color: white;
	border-left: 1px solid rgba(220, 220, 220, 0.0)/*#990000*/;
	height: 25px;
	list-style: none;
	padding: 20px 20px 0 20px;
	transition: .4s ease;
}

.topnav li #professionals:hover {
	border-bottom: 5px solid #f77841;
	color: #f77841;
}

#signinDiv {
	float: left;
	color: white;
	border-left: 1px solid rgba(220, 220, 220, 0.0)/*#990000*/;
	height: 45px;
	list-style: none;
	/*padding: 20px 20px 0 20px;*/
	transition: .4s ease;
}

.sign-in {
	float: left;
	color: white;
	border-left: 1px solid rgba(220, 220, 220, 0.0)/*#990000*/;
	height: 30px;
	list-style: none;
	padding: 20px 20px 0 20px;
	transition: .4s ease;
}

.topnav li {
	float: left;
	color: white;
	border-left: 1px solid rgba(220, 220, 220, 0.0)/*#990000*/;
	height: 30px;
	list-style: none;
	/*padding: 20px 20px 0 20px;*/
	transition: .4s ease;
}
 
.logoandname {
	float: right;
}
 
.logoandname li {
	float: left;
	list-style: none;
	border-left: 1px solid rgba(220, 220, 220, 0.0)/*#990000*/;
	height: 33px;
	padding: 7px 10px 10px 10px;
}
 
/*#top-menu li:hover {
	height: 28px;
}*/
 
/*#home {
	background-color: rgba(0,0,0,0.3);
}
 
#news {
	background-color: rgba(0,0,0,0.4);
}
 
#services {
	background-color: rgba(0,0,0,0.5);
}
 
#professionals {
	background-color: rgba(0,0,0,0.6);
}*/
 
#top-menu input {
	float: right;
	height: 25px;
	border: none;
	width: 190px;
	font-weight: bold;
	color: black;
	font-size: 110%;
	padding: 0, 0, 0, 10px;
	margin-bottom: 20px;
	position: relative;
	top: -4px;
}
 
a{
	color: inherit;
	text-decoration: none;
}																										/*Top Bar*/
 


@media screen and (max-width: 600px){
   
    ul.topnav li {float: none;}
	#top-bar {float: none;}
}