.media:hover {
    background-color: rgb(243, 242, 240);
}

.select-convo {
    width: 100%;
}

.profile-pic {
    border-radius: 50%;
}

.truncate {
    /* width: 250px; */
    max-height: 2.5rem;
    display: block;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: auto;
}

.truncate::-webkit-scrollbar {
    display: none;
}

.select_chat {
    display: block;
    text-decoration: None;
    color: black;
}

.chat_preview {
    color: rgb(167, 151, 158);
}

.sample {
    background-color: blue;
    height: 250px;
    width: 600px;
}

.time_received {
    margin: 5px 5px 5px 0;
}

.user-pic-fig {
	margin: 0 1rem 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
	border-radius: 50%;
    text-align: center;
    min-height: 6rem;
    min-width: 6rem;
	max-height: 6rem;
    max-width: 6rem;
    /* height: 7rem;
    width: 7rem; */
	/* width: 5rem;
	height: 5rem; */
}

.user-pic-span {
	display: block;
    /* max-height: 10rem; */
    /* height: 7rem;
    width: 7rem; */
	/* height: 5rem;
	width: 5rem; */
}

.user-pic-img {
    overflow-y: hidden;
	overflow-x: hidden;
	width: 100% !important;
	max-height: 10rem;
	height: 6rem !important;
	object-fit: cover;
    display: inline-block !important;
}