.media:hover {
    background-color: rgb(243, 242, 240);
}

.select-convo {
    width: 100%;
}

.truncate {
    /* width: 250px; */
    display: block;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    /* text-overflow: ellipsis; */
    overflow-wrap: break-word;
    overflow: auto;
}

.select_chat {
    display: block;
    text-decoration: None;
    color: black;
}

.chat_preview {
    color: rgb(167, 151, 158);
}

.sample {
    background-color: blue;
    height: 250px;
    width: 600px;
}

.time_received {
    margin: 5px 5px 5px 0;
}