body {
    padding: 5%;
}

.reset-pass-email-container {
    display: none;
}

.reset-password-container {
    width: 35%;
    margin: auto;
    background-color: whitesmoke;
    padding: 2% 3% 3% 3%;
}

.label {
    width: 40%;
}

.reset-pass-input {
    margin: auto;
    width: 80%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.reset-password-header {    
    font-size: 2rem;
    font-family: "Century Gothic";
}

.reset-password-button {
    margin: auto;
}