.services-wrapper {
    padding: 10% 0 10% 0;
    height: 100vh;
    width: 100vw;
    /* background-color: #f2f3f5; */
    display: flex;
}

.columns-wrapper {
    margin-top: 5%;
    margin: 0 auto;
    flex-basis: 80%;
    display: flex;
    height: 100%;
    /* border: 1px solid black; */
}

.divider {
    margin: auto;
    display: inline-block;
    width: 0;
    height: 10em;
    border-left: 2px solid #ccc;
    /* border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; */
}

.services-tile-container {
    transition: all .3s ease;
}

.services-tile {
    margin: auto;
    /* height: 22vw;
    width: 22vw !important; */
}

.services-circle-link {
    text-decoration: none !important;
    display: block;
    width: 100%;
    height: 100%;
    /* height: 23vw;
    width: 23vw; */
    /* border: 1px solid black; */
    border-radius: 50%;
}

.services-link {
    transition: all .3s ease;
    /* padding: 1.3rem 2rem 2rem 2rem !important; */
    text-align: center;
    /* height: 250px;
    width: 250px; */
    height: 22vw;
    width: 22vw;
    border-radius: 50%;
    /* background-color: gray; */
}

.services-info {
    margin: auto;
    width: 18vw;
}

.services-logo {
    /* margin-bottom: 10px; */
    margin: 1.5rem;
}

.services-icon {
    color: #4a4a4a;
}

.services-title {
    overflow-wrap: break-word;
    margin: 0 auto;
}

.services-title-p {
    font-weight: bold;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    color: #4a4a4a;
}

.services-desc {
    margin: 0 auto;
}

.services-desc-p {
    width: 100%;
    text-align: center;
    color: #4a4a4a;
}

.div-hidden {
    display: none !important;
    transition: all .3s ease;
}

/* #applications-hover {
    height: 10vw;
} */

#services-applications-pyramid {
    width: 14vw;
    display: none;
}

.top-row {
    width: 100%;
}

.bottom-row {
    width: 100%;
}

.services-applications-link {
    transition: all .3s ease;
    /* padding: 1.3rem 2rem 2rem 2rem !important; */
    text-align: center;
    /* height: 250px;
    width: 250px; */
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    /* background-color: gray; */
}

.services-applications-logo {
    /* margin-bottom: 10px; */
    margin: 1.2rem .5rem .5rem .5rem;
}

.services-applications-info {
    margin: auto;
    width: 6vw;
}

.services-applications-title-p {
    font-weight: bold;
    font-size: .8rem;
    width: 100%;
    text-align: center;
    color: #4a4a4a;
}